<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project management</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script language="javascript">
        function $(obj){return document.getElementById(obj);}
        function show(objid) {$(objid).style.display='inline';}
        function hidden(objid) {$(objid).style.display='none';}
        function eJect(){
            var sel_val1=$('dateSelect').value;
            if (sel_val1=='') {hidden('a1');}
            if (sel_val1!=0) {show('a1');}
        }

        function showRecordHistory() {
            var oldRecord;
        }
        function startEdit(editableDiv){
            document.getElementById(editableDiv).disabled = false;
            document.getElementById('submit').style.display="inline";

        }

        function editableTrue() {
            startEdit('editableDiv');
            startEdit('projectName');
            document.getElementById('editableDiv').style.backgroundColor='white';
            document.getElementById('projectName').style.backgroundColor='white';
        }
//

    </script>

</head>
<body>
<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Client services
        </div>
        <div  style=" font-size:25px">
            welcome email
        </div>

    </div>
</header>

<section class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonCHome" onclick="location.href='/CHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonCProject" onclick="location.href='/CProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonCMark" onclick="location.href='/CFeedback'">Marking</button></li>
            </u1>
            <button class="functionBoard-Button" style="float:left;margin-top: 200%" type="button"  onclick="location.href='/logout'">Logout</button>

        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md"style="margin-bottom: 35px">
                    <h2 class="projectScream title">Project management</h2>
                    <form method="post" class="projectScream form" >
                        <u1 class="projectScream item">
                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">Project Release:</h3>
                            </li>
                            <li class="list-group project">
                                <section class="form-group">
                                    <h4>Project Name:</h4>
                                    <div>
                                        <input class="form-control required" id="projectName" style="background-color: transparent!important;" type="text"  name="projectName" value="<%=project.projectName%>" disabled = true>
                                    </div>
                                </section>
                                <section class="form-group">
                                    <h4>Project Description:</h4>
                                        <textarea  class="form-control required" id="editableDiv" name="projectContent" rows="13" cols="100" style="resize:none; background-color: transparent" disabled=true><%=project.projectContent%></textarea>
                                </section>

                                <div>
                                    <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableTrue()" style="float: left" >Edit</button>
                                    <button id="submit" class="btn btn-block btn-submit button button--primary smaller" style="display: none" type="submit"  >Release</button>
                                </div>
                            </li>
                        </u1>
                    </form>
                    <div class="projectScream form">
                        <u1 class="projectScream item">
                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">Message broad:</h3>
                            </li>
                            <li class="list-group project">
                                <%for(let i = 0; i < messageList.length ;i++) { %>
                                <a> <%=messageList[i].senderID.userName%><span style="float: right"> <%=messageList[i].date%></span> </a>
                                <textarea class="form-control required" style="color: black!important; background-color: transparent!important;" disabled = true rows='3' cols='117'><%=messageList[i].content%></textarea>
                                <br>
                                <% } %>
                            </li>

                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">Message:</h3>
                            </li>
                            <form method="post" class="list-group project">

                                <div>
                                    <textarea name="comment"  class="form-control required" rows="13" cols="100" style="resize:none; background-color: white"></textarea>
                                </div>
                                <br>
                                <div> <button name="commentSubmit" class="btn btn-block btn-submit button button--primary smaller" value="true" type="submit"  >Send</button></div>
                            </form>
                        </u1>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>