<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript">

        function startEdit(id){
            document.getElementById(id).disabled = false;
        }

        function editableTrue() {
            document.getElementById('submit').style.display="inline"
            document.getElementById('remove').style.display="inline"
            startEdit('member1');
            startEdit('member2');
            startEdit('member3');
            startEdit('member4');
            startEdit('member5');
            startEdit('member6');
            startEdit('selectProject');
            startEdit('selectFacilitator');
            startEdit('groupName');
            document.getElementById('member1').style.backgroundColor='white';
            document.getElementById('member2').style.backgroundColor='white';
            document.getElementById('member3').style.backgroundColor='white';
            document.getElementById('member4').style.backgroundColor='white';
            document.getElementById('member5').style.backgroundColor='white';
            document.getElementById('member6').style.backgroundColor='white';
            document.getElementById('selectProject').style.backgroundColor='white';
            document.getElementById('selectFacilitator').style.backgroundColor='white';
            document.getElementById('groupName').setAttribute('style',' background-color:white!important')
            document.getElementById('member1E').innerText='';
            document.getElementById('member2E').innerText='';
            document.getElementById('member3E').innerText='';
            document.getElementById('member4E').innerText='';
            document.getElementById('member5E').innerText='';
            document.getElementById('member6E').innerText='';
            document.getElementById('facilitatorE').innerText='E-mail:';


        }




    </script>
</head>
<body >

<header role="banner">
    <div class="headcontainer">
        <div  class=" page-title" >
            Welcome, <%= currentUserName%>
        </div>
        <div class="page-title" style="color:#0166b3 ">
            Module Leader service
        </div>

    </div>
</header>

<section class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome" onclick="location.href='/MLHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLProject" onclick="location.href='/MLProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMLGroup" onclick="location.href='/MLGroupManagement'">Group management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLAnnouncement" onclick="location.href='/MLAnnouncement'">Announcements</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLMarking" onclick="location.href='/MLGroupMarking'">Marking</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
            </u1>
            <button class="functionBoard-Button" style="float:left;margin-top: 200%" type="button"  onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <h2 class="projectScream title">Group management</h2>
                    <div class="projectScream form">

                        <form>
                        <h2 style="margin: 10px;">Group formation:<span style="margin-left: 20px;">
                        <select style="background-color: white;font-size: 25px;margin-top: 5px" name="selectGroup" id="selectGroup">
                             <option value="<%=groupID%>"><%=groupSelection%></option>
                            <option value="toAddGroup">To add a group</option>
                            <%for(var i=0;i<groupList.length;i++){%>
                            <option value=<%=groupList[i]._id%>><%=groupList[i].groupName%></option>
                            <%}%>
                        </select>
                                <button name="SearchButton"  type="submit"  style="border: 0px " value="true">Search</button>
                            </span>
                            </span>
                        </h2>
                        </form>

                        <form method="post" id="group"  class="projectScream item">

                            <li id="team"  class="list-group project">
                                <div style="margin: 0px;">
                                    <div style="border: 1px solid rgb(51, 51, 51); margin: 10px;">
                                        <span> <a id="tips" style="color: red; float: left;margin-left: 1%"><%=tips%></a></span><br>
                                    <h2  style="padding: 5px; margin: 2px;margin-left: 8px;"><input name="reqGroupId" style="display: none" value="<%=groupID%>">
                                        Group Name: <input name="groupName" id="groupName" disabled="true" style="border: 0px!important; background-color: transparent!important;" value="<%=groupName%>">
                                    </h2>
                                        <h2 style="padding: 5px; margin: 10px;margin-left: 8px;">
                                            Facilitator: <span>
                                                <a>
                                                <select name="selectFacilitator" disabled="true" style="width: 35%;font-size: 23px;background-color: transparent;" id="selectFacilitator">
                                                    <option value="<%=facilitatorID%>"><%=facilitatorName%></option>
                                                    <option value=" ">---please select a facilitator below：---</option>
                                                    <%for(var j=0;j<facilitatorList.length;j++){%>
                                                    <option value=<%=facilitatorList[j]._id%>><%=facilitatorList[j].userName%>(email:<%=facilitatorList[j].email%>)</option>
                                                    <%}%>
                                                </select>
                                                    <span id="facilitatorE">
                                                    E-mail:<%=facilitatorEmail%>
                                                    </span>
                                                </a>

                                            </span>
                                        </h2>
                                        <h2 style="margin-left: 10px;">
                                            Project:<span>
                                            <select name="selectProject" disabled="true" style="font-size: 23px;background-color: transparent;width: 91%" id="selectProject">
                                                 <option value="<%=projectID%>"><%=projectName%></option>
                                                <option value=" ">---please select a project---</option>
                                                <%for(var i=0;i<projectList.length;i++){%>
                                                <option value=<%=projectList[i]._id%>><%=projectList[i].projectName%></option>
                                                <%}%>
                                            </select>
                                            </span>
                                        </h2>
                                        <div style="margin: 10px 10px 65px !important;">
                                            <h2>
                                                Members:
                                            </h2>
                                            <table border="1" id="qwe" style="width: 100%;">
                                                <tbody>
                                                <tr><td disabled="true">Name</td ><td disabled="true">E-mail</td></tr>
                                                </tbody>
                                                <tr>


                                                    <td>
                                                        <select disabled="true" id="member1" type="text" name="member1"  style=" font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member1ID%>"><%=member1Name%></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member1E" style="width: 50%"><%=member1Email%></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member2" type="text" name="member2"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member2ID%>"><%=member2Name %></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member2E" style="width: 50%"><%=member2Email%></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member3" type="text" name="member3"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member3ID%>"><%=member3Name%></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member3E" style="width: 50%"><%=member3Email%></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member4" type="text" name="member4"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member4ID%>"><%=member4Name%></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member4E" style="width: 50%"><%=member4Email%></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member5" type="text" name="member5"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member5ID%>"><%=member5Name%></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member5E" style="width: 50%"><%=member5Email%></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select  id="member6" type="text" name="member6"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value="<%=member6ID%>"><%=member6Name%></option>
                                                            <option value=" ">---please select a member---</option>
                                                            <%for(var i=0;i<memberList.length;i++){%>
                                                            <option value=<%=memberList[i]._id%>><%=memberList[i].userName%>(email:<%=memberList[i].email%>)</option>
                                                            <%}%>
                                                        </select>
                                                    </td>
                                                    <td id="member6E" style="width: 50%"><%=member6Email%></td>
                                                </tr>

                                            </table>

                                            <div>
                                                <br>
                                            <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableTrue()" style="float: left" >Edit</button>
                                                <button id="submit" name="submit" class="btn btn-block btn-submit button button--primary smaller"  style="display: none!important;float: right!important; width: auto!important;" type="submit"  value="true">Submit</button>
                                                <button id="remove" name="remove" class="btn btn-block btn-submit button button--primary smaller"  style="display: none!important;float: right!important; width: auto!important;background-color: red!important;" type="submit"  value="true">Disband the group</button>

                                            </div>
                                </div>
                                </div>
                                </div>

                            </li>

                        </form>


                    </div>
                </div>
            </div>
        </main>
    </div>
</section>





<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>