<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project management</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script language="javascript">
        function $(obj){return document.getElementById(obj);}
        function show(objid) {$(objid).style.display='inline';}
        function hidden(objid) {$(objid).style.display='none';}
        function eJect(){
            var sel_val1=$('dateSelect').value;
            if (sel_val1=='') {hidden('a1');}
            if (sel_val1!=0) {show('a1');}
        }

        function showRecordHistory() {
            var oldRecord;
        }
        function startEdit(editableDiv){
            document.getElementById(editableDiv).disabled = false;;
        }
        function stopEdit(editableDiv){
            var element = document.getElementById(editableDiv);
            element.disabled = true;
        }
        function editableTrue() {
            startEdit('editableDiv');
            startEdit('projectName');
            document.getElementById('editableDiv').style.backgroundColor='white';
            document.getElementById('projectName').style.backgroundColor='white';
        }

        function editableFalse() {
            stopEdit('editableDiv');
            stopEdit('projectName');
            document.getElementById('editableDiv').style.backgroundColor='transparent';
            document.getElementById('projectName').setAttribute('style','background-color: transparent!important;')
        }

    </script>

</head>
<body >
<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Moudle leader services
        </div>
        <div  style=" font-size:25px">
            welcome email
        </div>
    </div>
</header>

<section class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome" onclick="location.href='/MLHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMLProject" onclick="location.href='/MLProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLGroup" onclick="location.href='/MLGroupManagement'">Group management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLMarking" onclick="location.href='/MLGroupMarking'">Marking</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button">Announcements</button></li>
            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md"style="margin-bottom: 35px">
                    <h2 class="projectScream title">Project management</h2>
                    <div class="projectScream form" >
                        <u1 class="projectScream item">
                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">View the project :</h3>
                            </li>
                            <li class="list-group project">

                                    <div >
                                    <p> <h4>Project Name: <%=project.projectName%><span id="getProjectName"></span></h4></p>
                                    <p> <h4>Publisher: <%=project.publisherID.userName%> <span id="getProjectPublisher"></span></h4></p>
                                    </div>
                                <section class="form-group">
                                    <h4>Description:</h4>
                                    <textarea  class="form-control required" id="editableDiv" rows="13" cols="100" style="resize:none; background-color: transparent; border: 0px!important; " disabled=true; ><%=project.projectContent%></textarea>
                                </section>
                                <div>
                                    <input class="btn btn-block btn-submit button button--primary smaller" type=""  style="float: right" value="Save" >
                                </div>
                                <div style="margin-top: 10px">
                                    <input class="btn btn-block btn-submit button button--primary smaller" type=""  style="float: right" value="Pending" >
                                    <input class="btn btn-block btn-submit button button--primary smaller" type=""  style="float: right" value="Accept" >
                                    <input class="btn btn-block btn-submit button button--primary smaller" type=""  style="float: right "value="Reject">
                                </div>
                            </li>
                        </u1>
                    </div>
                    <div class="projectScream form">
                        <u1 class="projectScream item">
                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">Message broad:</h3>
                            </li>
                            <li class="list-group project">
                                <%for(let i = 0; i < messageList.length ;i++) { %>
                                <a> <%=messageList[i].senderID.userName%><span style="float: right"> <%=messageList[i].date%></span> </a>
                                <textarea class="form-control required" style="color: black!important; background-color: transparent!important;" disabled = true rows='3' cols='117'><%=messageList[i].content%></textarea>
                                <br>
                                <% } %>
                            </li>

                            <li class="list-group project">
                                <h3 style="margin-bottom: 20px;">Message:</h3>
                            </li>
                            <li class="list-group project">

                                <form  method="post">
                                        <textarea name="comment" class="form-control required" rows="13" cols="100" style="resize:none; background-color: white"></textarea>
                                    <br>
                                <div> <button class="btn btn-block btn-submit button button--primary smaller" name="commentSubmit" type="submit" value="true" >Send</button></div>
                                </form>
                            </li>


                        </u1>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>