<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentGroup marking </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script>
        function intMaxMin() {
            var inputV=document.getElementById(id).value;

            if(inputV>100){
                document.getElementById(id).value=100;
            }
            if(inputV<0){
                document.getElementById(id).value=0;
            }
        }

        function openCalender() {
            onclick=window.open('https://calendar.google.com/calendar/r');
        }

        function openForm() {
            onclick=window.open('https://www.google.com/forms/about/');
        }
    </script>

</head>
<body>

<header role="banner">
    <div class="headcontainer">
        <div  class=" page-title" >
            Welcome, <%= currentUserName%>
        </div>
        <div class="page-title" style="color:#0166b3 ">
            Student service
        </div>

    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonHome" onclick="location.href='/SHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMember" onclick="location.href='/SSelectMember'">Member manmgement</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonProject" onclick="location.href='/SSelectProject'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMarking" onclick="location.href='/SMyGroup'">My group</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMarking" onclick="location.href='/SGroupMarking'">Group marking</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openCalender()> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/SShowGrade'"> My Grade </button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openForm()> Form</button></li>

                <button class="functionBoard-Button" style="float:left;" type="button"  onclick="location.href='/logout'">Logout</button>

            </u1>

        </div>
    </div>

    <div class="functionBoard right">

        <main role="main" class="container mt-3 mb-3">

            <div id="content" class="row">

                <div class="col-md">

                    <div class="card">
                        <div class="card-header text-center">

                            <h2> Group marking </h2>
                        </div>


                        <div class="card-body">
                            <section class="form-group">
                                <h3>1.the first member: <%=names[0]%>


                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark1" name="mark1" > %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking1" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content1" value=""></textarea>
                            </section>


                            <section class="form-group"v>
                                <h3>2.the second member: <%=names[1]%>

                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark2" name="mark2" > %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking2" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content2" value=""></textarea>
                            </section>



                            <section class="form-group">
                                <h3>3.the third member: <%=names[2]%>


                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark3" name="mark3"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking3" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content3" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>4.forth member: <%=names[3]%>


                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark4" name="mark4"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking4" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content4" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>5.the fifth member: <%=names[4]%>

                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark5" name="mark5"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking5" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content5" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>6.the sixth member: <%=names[5]%>


                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" id="mark6" name="mark6"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="content6" value=""></textarea>
                            </section>


                            <section class="form-group" >
                                <h3>7.Comment:</h3>
                                <textarea  class="form-control required"  rows="13" cols="100" style="resize:none" name="comment"></textarea>
                            </section>

                        </div>
                        <div align="center"> <input class="btn btn-block btn-submit button button--primary smaller" style="margin-right: 30px;" name="submit" accesskey="l" tabindex="9" type="submit" value="submit"></div>

                        <br>
                    </div>

                </div>
            </div>
        </main>
    </div>
</form>





<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>